@model Cinemanage.Models.ViewModels.LandingPageVM;

@{
    ViewData["Title"] = "Cinemanage";
}
@{
    var rand = new Random();
    var imagePath = "";
    foreach (var randomMovie in Model.NowPlaying.results.OrderBy(x => rand.Next()).Take(1))
    {
        imagePath = randomMovie.backdrop_path;
    }
}



<section id="header" style="background-position:center;background-size:cover;background-image:url(@imagePath);">
    <div class="home-header mb-3" style="background:rgba(0,0,0,0.6);">
        <div class="header-content">
            <div class="welcome-text">
                <p>Welcome To CineManage.</p>
                <h2><em>SEARCH</em> YOUR FAVORITE MOVIES.</h2>
                <h2><em>CREATE</em> YOUR OWN COLLECTIONS.</h2>
            </div>

            <form role="search" asp-controller="Movies" asp-action="SearchIndex">
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg border-0" placeholder="Search Movies" name="searchTerm" aria-label="Movie Name" aria-describedby="Search-Term">
                    <button class="btn border-0" type="submit" id="searchButton">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<hr />
<section id="upcoming" class="px-1">
    @*  ----------- UPCOMING --------------- *@

    @* Display Upcoming Movies Carousel *@
    <div class="row row-cols-2 d-flex g-2">
        <div class="col-1 d-flex justify-content-center">
            <img class="category-image img-fluid" src="~/img/UPCOMING.png">
        </div>
        <div class="col-11">
            <div id="upcomingCarousel" class="carousel h-100">
                <div class="carousel-inner">
                    @{
                        var classText = "active";
                        @foreach (var movie in Model.Upcoming.results.OrderByDescending(x => x.release_date).Take(15))
                        {
                            <div class="carousel-item @classText">
                                <div class="card text-center border-0">
                                    <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id">
                                        <img src="@movie.poster_path" class="img-fluid" alt="...">
                                    </a>
                                    <div class="card-body p-1">
                                        <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id">
                                            <p class="mt-2">@movie.title</p>
                                        </a>
                                        <span class="text-muted mt-1">@movie.release_date</span>
                                    </div>
                                </div>
                            </div>
                            classText = "";
                        }

                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>



    </div>

</section>

<section id="nowPlaying" class="px-1">
    @*  ----------- NOW PLAYING --------------- *@

    <div class="row row-cols-2 d-flex g-2">
        <div class="col-1 d-flex justify-content-center">
            <img class="category-image img-fluid" src="~/img/NOWPLAYING.png">
        </div>
        <div class="col-11">
            <div id="nowPlayingCarousel" class="carousel h-100">
                <div class="carousel-inner">
                    @{
                        classText = "active";
                        @foreach (var movie in Model.NowPlaying.results.Take(15))
                        {
                            <div class="carousel-item @classText">
                                <div class="card text-center border-0">
                                    <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id">
                                        <img src="@movie.poster_path" class="img-fluid" alt="...">
                                    </a>
                                    <div class="card-body p-2">
                                        <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id">
                                            <p class="mt-2">@movie.title</p>
                                        </a>
                                        <span class="text-muted mt-1">@movie.release_date</span>
                                    </div>
                                </div>
                            </div>
                            classText = "";
                        }

                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

       
    </div>

    @* Display Now Playing Movies Carousel *@


</section>

<section id="popular" class="px-1">
    @*  ----------- POPULAR --------------- *@

    <div class="row row-cols-2 d-flex g-2">
        <div class="col-1 d-flex justify-content-center">
            <img class="category-image img-fluid" src="~/img/POPULAR.png">
        </div>
        <div class="col-11">
            <div id="popularCarousel" class="carousel h-100">
                <div class="carousel-inner">
                    @{
                        classText = "active";
                        @foreach (var movie in Model.Popular.results.Take(15))
                        {
                            <div class="carousel-item @classText">
                                <div class="card text-center border-0">
                                    <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id">
                                        <img src="@movie.poster_path" class="img-fluid" alt="...">
                                    </a>
                                    <div class="card-body p-2">
                                        <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id">
                                            <p class="mt-2">@movie.title</p>
                                        </a>
                                        <span class="text-muted mt-1">@movie.release_date</span>
                                    </div>
                                </div>
                            </div>
                            classText = "";
                        }

                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>


    @* Display Popular Movies Carousel *@


</section>

<section id="topRated" class="px-1">
    @*  ----------- TOP RATED --------------- *@

    <div class="row row-cols-2 d-flex g-2">
        <div class="col-1 d-flex justify-content-center flex-shrink-0">
            <img class="category-image img-fluid" src="~/img/TOPRATED.png">
        </div>
        <div class="col-11">
            @* Display Top Rated Movies Carousel *@

            <div id="topRatedCarousel" class="carousel h-100">
                <div class="carousel-inner">
                    @{
                        classText = "active";
                        @foreach (var movie in Model.TopRated.results.Take(15))
                        {
                            <div class="carousel-item @classText">
                                <div class="card text-center border-0">
                                    <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id">
                                        <img src="@movie.poster_path" class="img-fluid" alt="...">
                                    </a>
                                    <div class="card-body p-2">
                                        <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id">
                                            <p class="mt-2">@movie.title</p>
                                        </a>
                                        <span class="text-muted mt-1">@movie.release_date</span>
                                    </div>
                                </div>
                            </div>
                            classText = "";
                        }

                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

      
    </div>



</section>





