@model Cinemanage.Models.ViewModels.LandingPageVM;

@{
    ViewData["Title"] = "Cinemanage";
}

<section id="upcoming" class="px-1">
    @*  ----------- UPCOMING --------------- *@
    <div class="row">
        <span>UPCOMING</span>
    </div>
    @* Display Upcoming Movies Carousel *@

    <div id="upcomingCarousel" class="carousel h-100">
        <div class="carousel-inner">
            @{
                var classText = "active";
                @foreach (var movie in Model.Upcoming.results.Take(15))
                {
                    <div class="carousel-item @classText">
                        <div class="card text-center border-0">
                            <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id">
                                <img src="@movie.poster_path" class="img-fluid" alt="...">
                            </a>
                            <div class="card-body p-2">
                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id">
                                    <p class="mt-2">@movie.title</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    classText = "";
                }

            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <hr />
</section>

<section id="nowPlaying" class="px-1">
    @*  ----------- NOW PLAYING --------------- *@
    <div class="row">
        <span>NOW PLAYING</span>
    </div>

    @* Display Now Playing Movies Carousel *@

    <div id="nowPlayingCarousel" class="carousel h-100">
        <div class="carousel-inner">
            @{
                classText = "active";
                @foreach (var movie in Model.NowPlaying.results.Take(15))
                {
                    <div class="carousel-item @classText">
                        <div class="card text-center border-0">
                            <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id">
                                <img src="@movie.poster_path" class="img-fluid" alt="...">
                            </a>
                            <div class="card-body p-2">
                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id">
                                    <p class="mt-2">@movie.title</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    classText = "";
                }

            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <hr />

</section>

<section id="popular" class="px-1">
    @*  ----------- POPULAR --------------- *@
    <div class="row">
        <span>POPULAR</span>
    </div>

    @* Display Popular Movies Carousel *@

    <div id="popularCarousel" class="carousel h-100">
        <div class="carousel-inner">
            @{
                classText = "active";
                @foreach (var movie in Model.Popular.results.Take(15))
                {
                    <div class="carousel-item @classText">
                        <div class="card text-center border-0">
                            <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id">
                                <img src="@movie.poster_path" class="img-fluid" alt="...">
                            </a>
                            <div class="card-body p-2">
                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id">
                                    <p class="mt-2">@movie.title</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    classText = "";
                }

            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <hr />

</section>

<section id="topRated" class="px-1">
    @*  ----------- TOP RATED --------------- *@
    <div class="row">
        <span>TOP RATED</span>
    </div>

    @* Display Top Rated Movies Carousel *@

    <div id="topRatedCarousel" class="carousel h-100">
        <div class="carousel-inner">
            @{
                classText = "active";
                @foreach (var movie in Model.TopRated.results.Take(15))
                {
                    <div class="carousel-item @classText">
                        <div class="card text-center border-0">
                            <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id">
                                <img src="@movie.poster_path" class="img-fluid" alt="...">
                            </a>
                            <div class="card-body p-2">
                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id">
                                    <p class="mt-2">@movie.title</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    classText = "";
                }

            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <hr />

</section>





